		
		body {
		background-color: #ffffff;
		background-image:
		linear-gradient(45deg, #E7003D, #FF9C6A, #FFF488);
		background-repeat: no-repeat;
		background-position: center;
		width: 100vw;
		height: 100vh;
		}
			
		
		h1 {
		font-family: 'Poiret One', cursive;
		font-size: 10vw;
		color: white;
		}
		
		h2 {
		font-family: 'Poiret One';
		color: white;
		}
		
		
		a{
		display: block;
		font-family: 'Libre Barcode 39 Extended Text', cursive;
		font-size: 2vw;
		}
		
		a:link{
		color: white;
		text-decoration: none;
		}
		
		a:visited {
		color: white;
		text-decoration: none;
		}

		a:hover {
		  color: #9effc2;
		  text-decoration: none;
		}

		a:active {
		  color: #9effc2;
		  text-decoration: none;
		}
		
		p{
		color: white;
		font-family: Poppins;
		}
		
		
		.vertcent {
		margin: 0;
		position: absolute;
		top: 50%;
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
		}