		body {
		background-image: linear-gradient(to bottom right, #410D83, #D842C8, #FFA0BE);
		height: 100vh;
		background-repeat: no-repeat;
		background-attachment: fixed;
		}
		
		h1 {
		font-size: 5vw;
		color: white;
		font-family: Poppins;
		}
		
		h2{
		color: white;
		font-family: Quicksand;
		}
		
		h3 {
		font-family: Quicksand;
		}
		
		h4 {
		font-family: Quicksand;
		font-weight: bold;
		}
		
		h5 {
		font-family: Quicksand;
		font-style: italic;
		}
			
		p{
		display: block;
		font-family: Quicksand;
		}
		
		audio{
		display: block;
		}
		
		a {
		font-family: Quicksand;
		}
		
		a:link{
		color: #E7003D;
		text-decoration: none;
		}
		
		a:visited {
		color: #E7003D;
		text-decoration: none;
		}

		a:hover {
		  color: #ff9d1c;
		  text-decoration: none;
		}

		a:active {
		  color: #ff9d1c;
		  text-decoration: none;
		}
		
		input {
		font-family: Quicksand;
		}
		
		.photos{
		max-width:100%;
		max-height:100%;
		object-fit: contain;
		display: block;
		padding-right: 1vw;
		}
		
		.vertcent {
		position: absolute;
		top: 50%;
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
		}
		
		.buttonstyles {
		font-family: Quicksand;
		background-color: #E7003D;
		border: none;
		color: white;
		padding: 8px 32px;
		text-decoration: none;
		margin: 4px 2px;
		cursor: pointer;
		}
		
		.b {
		margin: 0;
		float: right;
		position: relative;
		}
		
		#shadow {
		box-shadow: 0 6px 10px 0 rgba(203, 30, 84, 0.2), 0 8px 22px 0 rgba(154, 7, 53, 0.19);
		}
		
		#sidebar {
		border-radius: 0vw 0vw 0vw 0vw;
		background-color: white;
		width: 25vw;
		height:90vh;
		box-shadow: 0 6px 10px 0 rgba(203, 30, 84, 0.2), 0 8px 22px 0 rgba(154, 7, 53, 0.19);
		}
		
		#heading {
		border-radius: 0vw 0vw 0vw 0vw;
		background-color: #E7003D;
		width: 25vw;
		height:15vh;
		color: white;
		}
		
		.center {
		background-color: #ffffff;
		display: flex;
		align-items: center;
		height:30vh;
		}		